/*Estilo base*/
.message-bubble {
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  word-wrap: break-word;
}

/* Estilo para la burbuja de mensaje del remitente */
.sender-bubble {
  background-color: #8f61ad;
  align-self: flex-end;
}

/* Estilo para la burbuja de mensaje del destinatario */
.receiver-bubble {
  background-color: #734a91;
  align-self: flex-start;
}
